@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}

body {
    background-image: linear-gradient(to right, #68A8B0,#62A887);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #3e424d7a;
    width: 600px;
    padding: 10px;
    margin: auto;
}

p {
    text-align: justify;
}

h1 {
    color: #444850;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(87, 22, 22, 0.486);
}

h2 {
    color: #777D79;
}