@charset "UTF-8";



body {
    background-image: linear-gradient(to right, #0D1B2A,#778DA9 20%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: aliceblue;
}

h2 {
    color: aqua;
}

p {
    color: aliceblue;
}
